# Python / Django
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3
*.log

# Virtualenv
django-env/
.venv/
venv/

# Django static collect
staticfiles/

# Secrets / env
.env
.env.*

django-env/
*.pyc
__pycache__/
db.sqlite3
staticfiles/
.env
